*{
    padding: 0;
    margin: 0;
   
}
body{
    /*background-color: rgb(179, 179, 179);*/
    overflow-x: hidden;
    background-color: rgb(194, 194, 194);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(Background/background.png);
    overflow-y: hidden;
  

    
    
    
}
.disk-main{
    width: 700px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    
    

}
.disk{
    width: 400px;
    height: 400px;
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(179, 179, 179);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 500px;
    box-shadow:  0 0 0 180px rgb(37, 37, 37);
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.disk-hole{
    width: 200px;
    height: 200px;
    background-color: rgb(179, 179, 179);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 300px;

}
@keyframes rotate {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
   

}
.needle{
    background-color: rgb(5, 5, 5);
    width: 250px;
    height: 5px;
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(-50%,-50%) rotate(110deg);
    z-index: 1;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.div-tip{
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 20px rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(136, 136, 136);
}
.div-base{
   width: 20px;
   height: 20px;
   background-color: rgb(136, 136, 136);
}

header{
    display: flex;
    width: 100%;
    height: 150px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}
.logo-div{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 6%;
    border-radius: 50px;
    background-image: url(Logo/logo.png);
    background-position: center;
    background-size: contain;
    top: 5%;
    
}
.user-profile{
    height: 60px;
    width:250px;
    background-color: rgba(44, 44, 44,0.9);
    margin-right: 5%;
    border-radius: 50px;
    position: absolute;
    left: 86%;
    top: 7%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 5px;
    transition:  height 0.2s ease;
    z-index: 1000;    
       
}
.profile-picture-div{
    height: 40px;
    width: 40px;   
    border: 2px solid rgb(14, 14, 14);
    border-radius: 50px;
    background-image: url(Logo/icon-user.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.user-profile > .material-icons{
    color: gray;
    font-size: 1.5rem;
    width: 20px;
    cursor: pointer;
}
.material-icons:hover{
    opacity: 0.5;
}
.user-info-div{
    color: gray;
    font-family: "roboto mono";
    font-size: 12px;
}
.user-info-div p {
    text-align: center;
    width: 70px;
    cursor: pointer;
}
.side{
    width: 70px;
    height: 400px;
    position: absolute;
    z-index: 2;
    left: 7%;
    border-radius: 50px;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.music-div{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    margin-top: 5px;
    border: 2px solid rgb(192, 192, 192);
    background-image: url(Background/cfc157151010897.630605bae2329.gif);
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    z-index: 3;
   
    
}
.background-selection-div{
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    z-index: 1;
    left: 0.5;
    position: relative;
    top: 30%;
}
.music-main-div{
    background-color: rgba(44, 44, 44,0.8);
    width: 60px;
    height: 120px;
   /* width: 300px;
    height: 400px;*/
    position: absolute;
    left: 7%;
    border-radius: 50px;
    top: -11%;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
       /* justify-content: center;
        row-gap: 10px;*/
        
}
/*.music-div{
    width: 200px;
    height: 200px;
    border-radius:100px;
    margin-top: 20px;
}*/
.music-buttons{
    display: none;
    transition: 0.5s ease;
    opacity: 0;
}
.slider{
    display: none;
    transition: 0.5s ease;
    opacity: 0;
}
.music-buttons > span{
    font-size: 2rem;
    transition: 0.3s ease;
    cursor: pointer;
}
.music-slider{
    width: 200px;
    height: 2px;
    transition: 0.3s ease;

}
.slider > p {
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease;
    
}
.volume-slider{
    width: 100px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 92%;
    transition: 0.3s ease;
}
.side-right{

    width: 40%;
    max-width: 400;
    height: 70%;
    position: absolute;
    z-index: 3;
    top: 18%;
    left: 83%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
   
    
}
@keyframes hidesideright {
    0%{
      
        opacity: 1;
    }
    100%{
        left: 100%;
        opacity: 0;
    }
}

.side-right-header{
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.side-right-header button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: rgb(44, 44, 44);
    color: gray;
    
    
}
.side-right-header button:nth-child(2){
    width: 50px;
}

.side-right-content{
    background-color:  rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 90%;
    margin-top: 10px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    row-gap: 10px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding:  10px 10px;
    z-index: 3;
    transition: 0.5s ease;
    
}
.topic-div{
    width: 300px;
    height: 100px;
    background-color: rgba(80, 80, 80,0.8);
    border-radius: 10px;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.8;
   
    
}
.side-right-content::-webkit-scrollbar{
    width: 10px;
}
.chat-div{
    width: 100px;
    height: 80px;
    position: absolute;
    z-index: 2;
    background-color: rgba(43, 43, 43,0.9);
    bottom: 10%;
    left: 7%;
    border-radius:100px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    flex-direction: column;
}
.chat-div span{
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s linear;
}

.chat-log{
    width: 280px;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    display: none;
    transition: 0.3s linear;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chat-log::-webkit-scrollbar{
    width: 10px;
}
.chat-inputs{
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: none;
    transition: 0.3s linear;
}
.chat-inputs > input[type = "text"]{
    border-radius: 5px;
    border: 0px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    color: gray;
    font-family: "roboto mono";
    
}
.chat-inputs button{
    width: 80px;
    border-radius: 5px;
    border: 0px solid black;
    background-color: gray;
    color: rgb(226, 226, 226);
    outline: none;
}
.chat-inputs button:active{
    opacity: 0.5;
}
.chat-inputs span{
    color: rgb(226, 226, 226);
}
.message-div{
    background-color: rgba(136, 136, 136,0.5);
    width: 250px;
    height: 60px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.message-div p {
    width: 240px;
    height: 55px;
    background-color: rgba(136, 136, 136,0);
    border: 0px solid black;
    color: rgb(226, 226, 226);
    text-align: center;
    vertical-align: center;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 1920px) {
    .side-right{
        left: 85%;
    }
    .user-profile{
        left: 85%;
    }
   
}

@media (max-width: 935px) {
    .side-right{
        left: 80%;
    }
    .user-profile{
        left: 84%;
    }
}
@media (max-width: 764px) {
    .disk-main{
        left: 50%;
        z-index: 0;
    }
    .disk{
        width: 300px;
        height: 300px;
    }
    
    .side-right{
        left: 74%;
    }
    .user-profile{
        left: 79%;
    }
}
@media (max-width: 619px) {
    .side-right{
        left: 72%;
    }
    .user-profile{
        left: 77%;
    }
}
@media (max-width: 619px) {
    .side-right{
        left: 72%;
    }
    .user-profile{
        left: 77%;
    }
}
@media (max-width: 500px) {
    .side-right{
        left: 65%;
    }
    .user-profile{
        left: 70%;
    }
   
}

.music-player2-div{
    width: 350px;
    height: 60px;
    background-color: rgba(44, 44, 44,0.9);
    position: absolute;
    bottom: 1%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    padding: 10px;
    transition: 0.5s linear;
}
.music-player2-div p {
    text-align: center;
    color: gray;
    font-family: sans-serif;
    font-weight: 500;
}
.musicplayer2-inputs{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.musicplayer2-inputs input{
    width: 300px;
    height: 3px;
}
.music-buttons2{
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.music-buttons > span,.music-buttons2 > span {
    width: 30px;
    background-color: rgba(136, 136, 136,0);
    transition: 0.1s linear;
    border-radius:5px;
    
}

:root{
    --background-color: rgba(182, 182, 182, 0.2);
    --filter: blur(5px);
}

.user-profile{
    background-color: var( --background-color);
    border: 2px solid black;
    backdrop-filter: var(--filter);
}
.user-profile > .material-icons,.user-profile p {
    color: black;
}
body{
    background-image: linear-gradient(to right top, #6d6d6d, #8c8b8c, #acabab, #cdcccb, #eeeeed);
    backdrop-filter: blur(10px);
    background-image: url(Music/Cover/about.jpg);
  
}
.body::-webkit-scrollbar{
    width: 2px;
    
}
.music-main-div{
    background-color: var( --background-color);
    border: 2px solid black;
    backdrop-filter: var(--filter);
}
.chat-div{
    background-color: var( --background-color);
    border: 2px solid black;
    backdrop-filter: var(--filter);
}
.music-player2-div{
    background-color: var( --background-color);
    border: 2px solid black;
    backdrop-filter: var(--filter);
    top: 95%;
}
.side-right-header > button{
    backdrop-filter: var(--filter);
    background-color: var( --background-color);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type = "radio"]{
    filter: grayscale(100%) contrast(120%);
    display: none;
}
.side-right-content{
    background-color: var( --background-color);
    backdrop-filter: var(--filter);
    border: 2px solid black;
    overflow-x: hidden;
    overflow-y: scroll;   
}
.side-right-content::-webkit-scrollbar{
    width: 2px;
    
}
.side-right-content > div{
    border: 2px solid black;
}
.chat-inputs > button ,.chat-inputs > input[type = "text"] {
    background-color: var( --background-color);
    border: 1px solid black;
    color: black;
}
.chat-inputs > button{
    height: 20px;
    color: black;
}
.disk-hole{
    background-color: white;
    width: 25px;
    height: 25px;
    border: 2px solid black;
}
.disk{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 0 200px rgb(26, 26, 26);
}
.disk-line{
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 150px;
    border: 1px solid black;
    border-top: none;
    border-right: 0.2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disk-line2{
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 150px;
    border: 1px solid rgba(0, 0, 0,0.5);
    border-top: 0.5px solid ;
    border-left: 0.2px black;
}
.border-inside-disk{
    width:700px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.);
    position: absolute;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    
}
.border-inside-disk2{
    width:  600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 0.5px solid ;
    border-left: none;
    border-right: none;
    
}
.border-inside-disk3{
    width:  550px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 0.5px solid ;
    border-right: none;
    
}
.border-inside-disk4{
    width:  400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    
    
}
input[type="range"]{
    filter: grayscale(200%) contrast(200%);
}
.side-right{
    width: 500px;
}
.disk-main{
    height: 100%;
}
*::-webkit-scrollbar{
    width: 0px;
    
}
.music-player2-div p{
    color: black;
}

.slider > p > span{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.slider > p:nth-of-type(2) > span{
    font-size: 15px;
    font-weight: 100;
    opacity: 0.7;
}
.slider > p:nth-of-type(2){
    margin-top: 5px;
    display: flex;
    justify-content: center;
    column-gap:60%;
}
.songnamee{
    color: rgb(5, 1, 17);
    font-size: 1.3rem;
    font-family: 'roboto mono';
    font-weight: bold;
    position: absolute;

}
.sang{
    color: black;
    font-family: 'roboto mono';
    font-weight: bold;

}
